<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>{{ name }}</h3>
</div>
<div class="modal-body">
  <ul>
    <li>
      <h1>{{ value }}</h1>
      <p>current value</p>
    </li>
    <li>
      <h1>{{ mean }}</h1>
      <p>mean</p>
    </li>
    {{#if targetVal}}
    <li>
      <h1>{{ target }}</h1>
      <p>target</p>
    </li>
    {{/if}}
    <li>
      <h1>{{ stddev }}</h1>
      <p>std. dev.</p>
    </li>
  </ul>
  <div id="val-chart" class="hidden-phone chart">
  </div>

  {{#if total}}
  <hr />
  <div id="rate-chart" class="hidden-phone chart">
  </div>
  {{/if}}
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
